@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    @apply box-border list-none p-0 m-0 scroll-smooth
  }

  body{
    @apply bg-dark-1 text-white min-h-screen font-noto
  }
}

@layer utilities{
  .glass{
    background: rgba( 255, 255, 255, 0.15 );
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 10px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .h1-bold{
    @apply text-[38px] font-bold leading-[140%] tracking-tighter
  }

  .h2-bold{
    @apply text-[30px] font-bold leading-[140%] tracking-tighter
  }

  .h3-bold{
    @apply text-[24px] font-bold leading-[140%] tracking-tighter
  }

  .h4-bold{
    @apply text-[20px] font-bold leading-[140%] tracking-tighter
  }

  .bg-linear-gradient{
    @apply bg-gradient-to-r from-black to-transparent
  }

  .invert-white{
    @apply invert brightness-0 transition
  }

  .leftsidebar-link {
    @apply rounded-lg hover:bg-primary-500 transition text-[16px] font-medium leading-[140%]
  }

  .detail_banner_background{
    background: rgb(0,173,181);
    background: linear-gradient(180deg, rgba(0,173,181,1) 0%, rgba(0,0,0,0.7189250700280112) 100%);
  }
  .glass-box {
    border: 1px solid rgba(0, 173, 181, 0.3);
    cursor: pointer;
    transition: all 200ms;
    border-radius: 10px;
    box-shadow: 4px 6px 8px rgba(0, 173, 181, 0.3);
    backdrop-filter: blur(10px);
  }
  .glass-box:hover{
    transform: scale(1.05);
  }

  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-container{
    @apply w-full grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-5 gap-7 max-w-6xl transition-all;
  }

  .grid-item:hover{
    transform: scale(1.1);
  }

  .blueGreen-linear{
    background: #348F50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }
}

@layer components {
  /* Button */
  .shad-button_primary {
    @apply bg-primary-500 text-light-1 rounded-2xl flex gap-2 !important;
  }

  .shad-button_primary_outline {
    @apply border-primary-500 border-2 text-primary-500 rounded-2xl flex gap-2 !important;
  }
  
  .shad-button_dark_4 {
    @apply h-12 bg-dark-4 px-5 text-light-1 flex gap-2 !important;
  }
  

  .shad-input {
    @apply h-12 bg-dark-4 border-none rounded-2xl placeholder:text-light-4 focus-visible:ring-1 ring-offset-2 !important;
  }

  .shad-input_label{
    @apply text-light-3 ml-2
  }
}