@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    @apply box-border list-none p-0 m-0 scroll-smooth
  }

  body{
    @apply bg-dark-1 text-white min-h-screen font-noto
  }

  img{
    @apply cursor-pointer
  }
}

@layer utilities{

  .flex-full-screen{
    @apply w-full h-full flex flex-col
  }

  .glass{
    background: rgba( 255, 255, 255, 0.15 );
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 10px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .h1-bold{
    @apply text-[38px] font-bold leading-[140%] tracking-tighter
  }

  .h2-bold{
    @apply text-[30px] font-bold leading-[140%] tracking-tighter
  }

  .h3-bold{
    @apply text-[24px] font-bold leading-[140%] tracking-tighter
  }

  .h4-bold{
    @apply text-[20px] font-bold leading-[140%] tracking-tighter
  }

  .bg-linear-gradient{
    @apply bg-gradient-to-r from-black to-transparent
  }

  .invert-white{
    @apply invert brightness-0 transition
  }

  .leftsidebar-link {
    @apply rounded-tl-lg rounded-bl-lg hover:bg-primary-500 transition text-[16px] font-medium leading-[140%]
  }

  .detail_banner_background{
    background: rgb(0,173,181);
    background: linear-gradient(180deg, rgba(0,173,181,1) 0%, rgba(0,0,0,0.7189250700280112) 100%);
  }
  .glass-box {
    border: 1px solid rgba(0, 173, 181, 0.3);
    cursor: pointer;
    transition: all 200ms;
    border-radius: 10px;
    box-shadow: 4px 6px 8px rgba(0, 173, 181, 0.3);
    backdrop-filter: blur(10px);
  }
  .glass-box:hover{
    transform: scale(1.05);
  }

  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-container{
    @apply w-full grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-5 gap-7 max-w-6xl transition-all;
  }

  .grid-item:hover{
    transform: scale(1.1);
  }

  .blueGreen-linear{
    background-color: #00dbe9;
    background-image: linear-gradient(90deg, #00dbe9 0%, #00adb5 100%);
  }

  .gradient-primary-full{
    background: rgb(0,173,181);
    background: linear-gradient(180deg, rgba(0,173,181,1) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 400px;
  }

  .bg-black-opacity{
    @apply bg-black absolute w-full h-full  opacity-60;
  }

  .audio_container{
    @apply border-t lg:absolute bottom-0 px-10 py-2 border-primary-500 z-50 bg-black;
  }

  .sm-screen-width{
    width: calc(100% - 250px);
  }
}

@layer components {
  /* Button */
  .shad-button_primary {
    @apply bg-primary-500 text-light-1 rounded-2xl flex gap-2 !important;
  }

  .shad-button_primary_outline {
    @apply border-primary-500 border-2 text-primary-500 rounded-2xl flex gap-2 !important;
  }
  
  .shad-button_dark_4 {
    @apply h-12 bg-dark-4 px-5 text-light-1 flex gap-2 !important;
  }
  

  .shad-input {
    @apply h-12 bg-dark-4 border-none rounded-2xl placeholder:text-light-4 focus-visible:ring-1 ring-offset-2 !important;
  }

  .shad-input_label{
    @apply text-light-3 ml-2
  }

  .shad-input_search{
    @apply w-full border-white border-b-2 py-2 px-2 bg-transparent ;
  }

  .shad-input_search:focus{
    outline: none;
  }

  .explore-menu-wrap{
    display:flex;
    gap: 24px;
    color: #9DB2BF;
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 7px;
    background-color: #505050;
    border-radius: 7px;
    outline: none;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 13px;
    width: 13px;
    border: #505050 1px solid;
    border-radius: 50%;
    cursor: pointer;
    @apply bg-primary-500;
  }
  
  .slider::-moz-range-thumb {
    height: 19px;
    width: 19px;
    border-radius: 50%;
    border: #505050 1px solid;
    cursor: pointer;
    @apply bg-primary-500;
  }

  /* Song Info Card */

  .songInfo_container{
    @apply flex flex-col w-[200px] h-[280px] relative hover:scale-105 duration-200;
  }

  .songInfo_card_img{
    @apply w-[200px] h-[200px] rounded-lg mb-3 object-cover;
  }

  .songInfo_card_hover{
    @apply absolute top-0 left-0 opacity-0 hover:opacity-80 w-[200px] h-[200px] hover:bg-black rounded-lg flex gap-4 justify-center items-center;
  }

  .songInfo_card_hover img{
    @apply w-[34px] h-[34px];
  }

  .slider_btn_wrap{
    @apply absolute w-full h-full border flex justify-between items-center;
  }

  .slider_btn_wrap img{
    @apply absolute rounded-full bg-light-2 w-[46px] h-[46px];
  }
}

